.vscode/
.gitignore
build/
include/lodepng.h
include/bits/
include/GL
include/GLFW
src/scenes/lodepng.cpp
src/internal/testmain.cpp
a.out
a.exe
*.exe
*.out
com.sh
Makefile
test/
externsrc/
debug_build/
*.o
CMakeLists.txt